<video autoplay id="video" class="is-hidden"></video>
<button id="btnScreenshot" class="button is-success btn-control">
    <span class="icon is-small">
      <i class="fas fa-camera"></i>
    </span>
    <span>Capture</span>
</button>

<button id="btnChangeCamera" class="button is-info btn-control">
    <span class="icon is-small">
      <i class="fas fa-sync-alt"></i>
    </span>
    <span>Switch Camera</span>
</button>

<button id="btnPause" class="button is-danger btn-control">
    <span class="icon is-small">
      <i class="fas fa-pause"></i>
    </span>
    <span>Pause</span>
</button>
